.header {
  grid-area: h;
  background-color: #925bc8;
  border: 1px solid #BE763C;
  padding: 50px 5px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-end;

}

.header img {
  width: 100px;
  position: absolute;
  bottom: -47px; /* Половина высоты картинки (или половина нужного размера) */
  left: 1%;
  z-index: 10;
  pointer-events: none; /* Чтобы картинка была поверх navbar */
}