.navbar {
  grid-area: n;
  padding: 5px;
  background-color: beige;
  border: 1px solid #BE763C;
  position: relative;
  z-index: 5; /* Чтобы navbar был поверх header */
}
.rs {
  padding: 10px;
}

.rs_fst {
  padding: 10px;
  margin-left: 50px;
}

.item {
  color: black;
}

.active {
  color: #925bc8;
  padding: 15px;
}