.avatar {
  grid-area: ava;
  padding: 10px 10px;
}

.avatar img {
  height: 200px;
  border-radius: 100px; /* Радиус скругления */
  border: 3px solid deepskyblue; /* Параметры рамки */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}