.app_wrapper {
  display: grid;
  width: 1800px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
  grid-template-rows: auto;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;

}