.app-wrapper {
  display: grid;
  grid-template-areas:
"head head"
"nav content"
"footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;

}

.head {
  grid-area: head;
  background-color: aqua;
}


.nav {
  grid-area: nav;
  background-color: yellow;
}

.content {
  grid-area: content;
  background-color: bisque;
}

.footer {
  grid-area: footer;
  background-color: coral;
}