.fUsers {
  display: grid;
  grid-template-areas:
  "disp uInf";
  grid-template-columns: 1fr 9fr;
  padding-top: 10px;
}

.avatar {
  grid-area: disp;
  text-align: center;
}

.avatar > img {
  height: 60px;
}

.button {
  grid-area: disp;
  justify-content: center;
}

.fUserInf {
  grid-area: uInf;
  display: grid;
  grid-template-areas:
  "flname description";
  border: solid 1px black;
  border-radius: 5px;
  margin: 5px;
}

.uname {
  grid-area: flname;
  padding: 5px;
}

.description {
  grid-area: description;
  padding: 5px;
  word-break: break-all;
}

.userList {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userListMap {
  padding: 5px;
}

.userListMapActive {
  font-weight: bold;
}
