.fUsers {
  display: grid;
  grid-template-areas:
  "disp uInf";
  grid-template-columns: 1fr 9fr;
}

.avatar {
  grid-area: disp;
  text-align: center;
}

.avatar > img {
  height: 60px;
}

.button {
  grid-area: disp;
  justify-content: center;
}

.fUserInf {
  grid-area: uInf;
  display: grid;
  grid-template-areas:
  "flname description";
  border: solid 1px black;
  border-radius: 5px;
  margin: 5px;
}

.flname {
  grid-area: flname;
  padding: 5px;
}

.country {
  grid-area: country;
  padding: 5px
}

.city {
  grid-area: city;
  padding: 5px
}

.description {
  grid-area: description;
  padding: 5px
}

.userList {
  margin: 10px;
  width: 1600px;
  word-break: break-all
}

.userListMap {
  padding: 5px;
}
.userListMapActive {
  font-weight: bold;
}
